

/* Header */
header {
	display: flex;
	justify-content: space-between;
	padding: 30px 0 40px 0;
	
} 
h1{
	font-style: oblique;
	background-color: silver;
	border-radius: 10px;
}

.icono-con {
	position: relative;
}

.count-products {
	position: absolute;
	top: 55%;
	right: 0;

	background-color: #000;
	color: #fff;
	width: 25px;
	height: 25px;

	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

#contador-productos {
	font-size: 12px;
}

.container-cart-products {
	position: absolute;
	top: 50px;
	right: 0;

	background-color: aliceblue;
	width: 350px;
	z-index: 1;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);
	border-radius: 10px;
}

.cart-pelicula {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px;

	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.info-cart-pelicula {
	display: flex;
	justify-content: space-between;
	flex: 0.8;
}

/* .titulo-pelicula {
	font-size: 20px;
} */

.titulo-pelicula {
	font-weight: 700;
	font-size: 20px;
	margin-left: 10px;
}

/* .cantidad-producto-carrito {
	font-weight: 400;
	font-size: 20px;
} */

/* .icon-close {
	width: 25px;
	height: 25px;
}

.icon-close:hover {
	stroke: red;
	cursor: pointer;
} */

/* .cart-total {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 0;
	gap: 20px;
}

.cart-total h3 {
	font-size: 20px;
	font-weight: 700;
}

.total-pagar {
	font-size: 20px;
	font-weight: 900;
}
 */
/*  .button-lista{

	justify-content: right;
 } */
.listavacia{
	font-size: 20px;
	text-align: center;
	padding: 20px;
}
.hidden-cart {
	display: none;
}



.btn-clear-all {
	border: none;
	background-color: #000;
	color: #fff;
	padding: 15px 0;
	display: block;
	width: 100%;
	margin-top: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	font-family: inherit;
	cursor: pointer;
  font-size: 16px;
  transition: all .3s ease;
}

.btn-clear-all:hover{
  background-color: #333;
  transform: scale(1.03);
  border-radius: 0;
}